// Niri configuration for CachyOS
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki

input {
    keyboard {
        xkb {
            layout "gb" // Use the German keyboard layout
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
    warp-mouse-to-focus
}

output "HDMI-A-1" {
    focus-at-startup
}

gestures {
    hot-corners {
        off
    }
}

binds {
    MOD+SHIFT+S { screenshot show-pointer=false        ; }
    MOD+RETURN { spawn-sh "kitty"; }
    MOD+SPACE { spawn-sh "wofi"; }
    MOD+B { spawn-sh "firefox"; }
    MOD+L { spawn-sh "swaylock"; }
    MOD+SHIFT+RETURN			 { spawn-sh "vicinae toggle"; }
    MOD+E { spawn-sh "nautilus"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }

    MOD+Q { close-window                 ; }

    MOD+LEFT { focus-column-left   ; }
    MOD+H { focus-column-left      ; }
    MOD+RIGHT { focus-column-right ; }
    MOD+ALT+L { focus-column-right ; }
    MOD+UP { focus-window-up       ; }
    MOD+K { focus-window-up        ; }
    MOD+DOWN { focus-window-down   ; }
    MOD+J { focus-window-down      ; }

    MOD+CTRL+LEFT { move-column-left   ; }
    MOD+CTRL+H { move-column-left      ; }
    MOD+CTRL+RIGHT { move-column-right ; }
    MOD+CTRL+L { move-column-right     ; }
    MOD+CTRL+UP { move-window-up       ; }
    MOD+CTRL+K { move-window-up        ; }
    MOD+CTRL+DOWN { move-window-down   ; }
    MOD+CTRL+J { move-window-down      ; }

    MOD+HOME { focus-column-first        ; }
    MOD+END { focus-column-last          ; }
    MOD+CTRL+HOME { move-column-to-first ; }
    MOD+CTRL+END { move-column-to-last   ; }

    MOD+SHIFT+LEFT { focus-monitor-left   ; }
    MOD+SHIFT+RIGHT { focus-monitor-right ; }
    MOD+SHIFT+UP { focus-monitor-up       ; }
    MOD+SHIFT+DOWN { focus-monitor-down   ; }

    MOD+SHIFT+CTRL+LEFT { move-column-to-monitor-left   ; }
    MOD+SHIFT+CTRL+RIGHT { move-column-to-monitor-right ; }
    MOD+SHIFT+CTRL+UP { move-column-to-monitor-up       ; }
    MOD+SHIFT+CTRL+DOWN { move-column-to-monitor-down   ; }

    MOD+WHEELSCROLLDOWN cooldown-ms=150 { focus-column-right                 ; }
    MOD+WHEELSCROLLUP cooldown-ms=150 { focus-column-left                    ; }
    MOD+CTRL+WHEELSCROLLDOWN cooldown-ms=150 { move-column-to-workspace-down ; }
    MOD+CTRL+WHEELSCROLLUP cooldown-ms=150 { move-column-to-workspace-up     ; }

    MOD+WHEELSCROLLRIGHT { focus-column-right     ; }
    MOD+WHEELSCROLLLEFT { focus-column-left       ; }
    MOD+CTRL+WHEELSCROLLRIGHT { move-column-right ; }
    MOD+CTRL+WHEELSCROLLLEFT { move-column-left   ; }

    MOD+SHIFT+WHEELSCROLLDOWN { focus-column-right     ; }
    MOD+SHIFT+WHEELSCROLLUP { focus-column-left        ; }
    MOD+CTRL+SHIFT+WHEELSCROLLDOWN { move-column-right ; }
    MOD+CTRL+SHIFT+WHEELSCROLLUP { move-column-left    ; }

    MOD+1 { focus-workspace 1 ; }
    MOD+2 { focus-workspace 2 ; }
    MOD+3 { focus-workspace 3 ; }
    MOD+4 { focus-workspace 4 ; }
    MOD+5 { focus-workspace 5 ; }
    MOD+6 { focus-workspace 6 ; }
    MOD+7 { focus-workspace 7 ; }
    MOD+8 { focus-workspace 8 ; }
    MOD+9 { focus-workspace 9 ; }

    MOD+CTRL+1 { move-column-to-workspace 1 ; }
    MOD+CTRL+2 { move-column-to-workspace 2 ; }
    MOD+CTRL+3 { move-column-to-workspace 3 ; }
    MOD+CTRL+4 { move-column-to-workspace 4 ; }
    MOD+CTRL+5 { move-column-to-workspace 5 ; }
    MOD+CTRL+6 { move-column-to-workspace 6 ; }
    MOD+CTRL+7 { move-column-to-workspace 7 ; }
    MOD+CTRL+8 { move-column-to-workspace 8 ; }
    MOD+CTRL+9 { move-column-to-workspace 9 ; }
    MOD+TAB { focus-workspace-previous ; }
    MOD+CTRL+F { expand-column-to-available-width ; }
    MOD+C { center-column                         ; }
    MOD+CTRL+C { center-visible-columns           ; }
    MOD+MINUS { set-column-width "-10%"; }
    MOD+EQUAL { set-column-width "+10%"; }
    MOD+SHIFT+MINUS { set-window-height "-10%"; }
    MOD+SHIFT+EQUAL { set-window-height "+10%"; }
    MOD+T { toggle-window-floating       ; }
    MOD+F				{ maximize-column           ; }
    MOD+SHIFT+F { fullscreen-window      ; }
    MOD+W { toggle-column-tabbed-display ; }

    CTRL+SHIFT+1 { screenshot        ; }
    CTRL+SHIFT+2 { screenshot-screen ; }
    CTRL+SHIFT+3 { screenshot-window ; }

    MOD+ESCAPE allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit     ; }

    CTRL+ALT+DELETE { quit               ; } // Also quits Niri
    MOD+SHIFT+P { power-off-monitors     ; } // Turn off screens (useful for OLED or privacy)
    MOD+O repeat=false { toggle-overview ; }
}

spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-sh-at-startup "swww-daemon" // Wallpaper daemon
spawn-sh-at-startup "swww img $HOME/.config/dotfiles/wallpaper" // Set wallpaper
spawn-sh-at-startup "waybar" // Launch waybar
spawn-sh-at-startup "/home/gizzy/.scripts/monitors.sh"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3'"
spawn-sh-at-startup "dbus-update-activation-environment DISPLAY XAUTHORITY WAYLAND_DISPLAY"
spawn-sh-at-startup "wl-clip-persist --clipboard regular"
spawn-sh-at-startup "swayidle -w before-sleep 'swaylock'"

prefer-no-csd // Disable program decorations
screenshot-path null // Disable screenshot saving

layout {
    gaps 0 // Gap betwee windows
    center-focused-column "never" // Don’t auto-center focused column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
    }

    struts {}
}

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    window-close {
        duration-ms 200
        curve "ease-out-cubic"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
	open-maximized true
	open-focused true
}


environment {
    DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
	QT_QPA_PLATFORMTHEME "qt6ct"
}

hotkey-overlay {
    skip-at-startup
}